@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

header {
    height: 180px;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.logo-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    text-align: left;
    line-height: 70px;
    height: 70px;
    width: 360px;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}

.yellow-logo {
    color: #fdbe34;
}

.social-networks-container {
    height: 100%;
    width: 180px;
    padding-top: 40px;
}

.network {
    display: inline-block;
    margin-left: 15px;
    transition: all .3s;
}

.network:hover {
    border-bottom: 3px solid black;
}

.fa-brands {
    font-size: 20px;
}

.nav-container {
    height: 80px;
    width: 100%;
    background-color: #00043c;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.menu {
    height: 100%;
    /* margin-left: 190px; */
    display: inline-block;
}

.items {
    display: inline-block;
    color: #fff;
    background-color: inherit;
    height: 100%;
    width: 100px;
    text-align: center;
    line-height: 85px;
    font-family: 'Poppins', sans-serif;
    transition: all .7s;
}
.items a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

.items:hover {
    background-color: #fdbe34;
    color: black;
    cursor: pointer;
}

.search {
    display: inline-block;
    margin-left: 270px;
}

.search input {
    height: 45px;
    width: 200px;
    border-radius: 5px 0 0 5px;
}

.search button {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: #fff;
    border-radius: 0 5px 5px 0;
}

.banner {
    width: 100%;
    height: 700px;
    background-image: url(./img/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 20% 0 20% 0;
}
.banner-box {
    width: 700px;
    height: 200px;
    margin: 0 auto;
}
.yellow-banner {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #fdbe34;
    text-align: center;
}

.banner-text {
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
    color: #fff;
    text-align: center;
}

.benefits-container {
    margin: 0 auto;
    width: 500px;
    height: 430px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.benefit {
    width: 240px;
    height: 300px;
    padding: 0 30px;
    margin-bottom: 20px;
    text-align: center;
}

.benefit-icon {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: #fdbe34;
    margin: 25px auto;
    position: relative;
    z-index: 1;
}

.benefit-icon .fa-solid {
    position: absolute;
    z-index: 2;
    font-size: 40px;
    left: 26px;
    top: 25px;
}

.benefit p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

.benefit-title {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.icon-sun {
    z-index: 1;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 43px;
    top: 15px;
    border-radius: 20px;
    background-color: #fede99;
}

.advantages-container {
    width: 1110px;
    height: 252px;
    margin: 0 auto;
    display: flex;
}

.advantage-card-first {
    display: inline-block;
    width: 370px;
    height: 252px;
    background-color: #f2f2f2;
}

.advantage-card-second {
    display: inline-block;
    width: 370px;
    height: 252px;
    background-color: #fdbe34;
}

.advantage-card-third {
    display: inline-block;
    width: 370px;
    height: 252px;
    background-color: #00043c;
}

.advantage-icon-box {
    display: inline-block;
    height: 100%;
    width: 26%;
    padding: 90px 20px;
}

.advantage-icon-box i {
    font-size: 50px;
}

.advantage-text-box {
    float: right;
    height: 100%;
    width: 74%;
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding-top: 20%;
}

.advantage-text-box h3 {
    font-size: 20px;
    font-weight: 700;
}

.advantage-text-box p {
    line-height: 30px;
    font-size: 16px;
}

.description-container {
    width: 1110px;
    height: 614px;
    margin: 0 auto;
    position: relative;
}

.play-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fdbe34;
    font-size: 30px;
    padding: 25px 20px 25px 32px;
    position: absolute;
    top: 43%;
    right: 46.5%;
}
.play-button i{
    color: #fff;
}

.description-picture {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url(./img/about.jpg);
    background-position: center;
    background-size: cover;
}

.description {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 70px 0 0 60px;
    font-family: "Poppins", sans-serif;
}

.description h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.8;
    font-weight: 500;
    color: #fdbe34;
}

.description h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

.description p { /*Почему-то не видит h2*/
    font-size: 16px;
    line-height: 1.8;
    font-weight: 700;
    color: grey;
    margin-bottom: 30px;
    margin-top: 60px;
}

.toggler-box {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.toggler-box button {
    background-color: #fff;
    border: 1px solid lightgray;
    height: 46px;
    width: 157px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    transition: .3s;
}

.toggler-box button:hover {
    color: #fff;
    background-color: #fdbe34;
}

#toggler-button-1:hover~.description-text-1 {
    visibility: visible;
}

#toggler-button-1:hover~.description-text-2 {
    visibility: hidden;
}

#toggler-button-1:hover~.description-text-3 {
    visibility: hidden;
}

#toggler-button-2:hover~.description-text-2 {
    visibility: visible;
}

#toggler-button-2:hover~.description-text-1 {
    visibility: hidden;
}

#toggler-button-2:hover~.description-text-3 {
    visibility: hidden;
}

#toggler-button-3:hover~.description-text-3 {
    visibility: visible;
}

#toggler-button-3:hover~.description-text-1 {
    visibility: hidden;
}

#toggler-button-3:hover~.description-text-2 {
    visibility: hidden;
}

.description-text-1 {
    background-color: #f8f9fd;
    height: 230px;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 60px;
    left: 0px;
    visibility: visible;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.description-text-2 {
    background-color: #f8f9fd;
    height: 230px;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 60px;
    left: 0px;
    visibility: hidden;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.description-text-3 {
    background-color: #f8f9fd;
    height: 230px;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 60px;
    left: 0px;
    visibility: hidden;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.achievments-container {
    width: 100%;
    height: 178px;
}

.achievments-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #f8f9fd;
}

.achievments-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    float: right;
    background-color: #fdbe34;
}

.left-achievment-1 {
    height: 50px;
    width: 285px;
}

.left-achievment-2 {
    height: 50px;
    width: 285px;
}

.right-achievment-1 {
    display: inline-block;
    height: 50px;
    width: 285px;
}

.right-achievment-2 {
    display: inline-block;
    height: 50px;
    width: 285px;
}

.number {
    width: fit-content;
    float: left;
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #323233;
    height: 50px;
    padding-left: 10px;
}

.achievment-name {
    padding-left: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    line-height: 25px;
    float: left;
    width: 130px;
    height: 50px;

}

.picture-cards-container {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "t-l t-c t-r"
        "b-l b-c b-r";
}

.picture-cards-container h3, h2 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    color: #fff;
    z-index: 3;
}
.picture-cards-container h3 {
    top: 330px;
    left: 20px;
}
.picture-cards-container h2 {
    top: 360px;
    left: 20px;
}

.top-left:hover .shadow {
    opacity: 0.7;
    visibility: visible;
}
.top-center:hover .shadow {
    opacity: 0.7;
    visibility: visible;
}
.top-right:hover .shadow {
    opacity: 0.7;
    visibility: visible;
}
.bottom-left:hover .shadow {
    opacity: 0.7;
    visibility: visible;
}
.bottom-center:hover .shadow {
    opacity: 0.7;
    visibility: visible;
}
.bottom-right:hover .shadow {
    opacity: 0.7;
    visibility: visible;
}
.top-left:hover .arrows{
    visibility: visible;
}
.top-center:hover .arrows {
    visibility: visible;
}
.top-right:hover .arrows {
    visibility: visible;
}
.bottom-left:hover .arrows {
    visibility: visible;
}
.bottom-center:hover .arrows {
    visibility: visible;
}
.bottom-right:hover .arrows {
    visibility: visible;
}

.shadow {
    transition: .8s;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00043c;
    opacity: 0;
}

.arrows {
    cursor: pointer;
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    visibility: hidden;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fdbe34;
}
.arrows i {
    margin-left: 23px;
    margin-top: 22px;
    font-size: 30px;
    color: #fff;
}

.top-left {
    position: relative;
    grid-area: "t-l";
    height: 400px;
    background-image: url(./img/work-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-center {
    position: relative;
    grid-area: "t-c";
    height: 400px;
    background-image: url(./img/work-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-right {
    position: relative;
    grid-area: "t-r";
    height: 400px;
    background-image: url(./img/work-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-left {
    position: relative;
    grid-area: "b-l";
    height: 400px;
    background-image: url(./img/work-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-center {
    position: relative;
    grid-area: "b-c";
    height: 400px;
    background-image: url(./img/work-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bottom-right {
    position: relative;
    grid-area: "b-r";
    height: 400px;
    background-image: url(./img/work-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clients-container {
    width: 100%;
    height: 800px;
    background-color: #fdbe34;
    padding: 50px 0 0 0;
}
.clients-display {
    width: 100%;
    height: 750px;
    padding-top: 100px;
}
.clients-header {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 290px;
    height: 90px;
    margin-bottom: 100px;
}
.clients-header h2{
    font-family: 'Rubik', sans-serif;
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto;
}
.clients-header h3{
    font-family: 'Rubik', sans-serif;
    
}

.clients-cards {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.client-card {
    position: relative;
    width: 350px;
    height: 270px;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 20px 30px 20px;
}

.client-card p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: grey;
    line-height: 1.8;
    font-weight: 400;
}


.quotation-marks {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #fdbe34;
    border-radius: 50%;
}
.quotation-marks i{
    font-size: 25px;
    margin-left: 9px;
    margin-top: 9px;
    color: #fff;
}
.avatar-1 {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-image: url(./img/team-4.jpg);
    background-position: top;
    background-size: contain;
    border-radius: 50%;
}
.avatar-2 {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-image: url(./img/team-3.jpg);
    background-position: top;
    background-size: contain;
    border-radius: 50%;
}
.avatar-3 {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-image: url(./img/team-2.jpg);
    background-position: top;
    background-size: contain;
    border-radius: 50%;
}

.name-block {
    float: right;
    width: 200px;
    height: 80px
}

.name-block h2 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 1.8;
    color: black;
    margin-top: 5px;
}
.name-block h4 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: grey;
}

.info-block {
    margin-top: 25px;
    height: 80px;
    width: 100%;
}

.blog-container {
    height: 800px;
    width: 100%;
    padding: 160px 0 100px 0;
}
.blog-header {
    height: 70px;
    width: 190px;
    margin: 0 auto;
}

.blog-header h4 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #fdbe34;
}
.blog-header h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: #323233;
}

.blog-cards {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.blog-card {
    width: 350px;
    height: 400px;
    
    text-align: center;
}
.blog-image {
    width: 350px;
    height: 250px;
    margin: 0 auto;
}
.blog-image img {
    border-radius: 5px;
    width: 350px;
    height: 250px;
}

.immage-comment {
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
    color: gray;
    font-size: 14px;
}

.image-description {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.image-description:hover {
    color: #fdbe34;
    cursor: pointer;
}

.subscribebar-container {
    width: 100%;
    height: 300px;
    padding: 100px 0 100px 0;
}
.subscribebar {
    margin: 0 auto;
    border-radius: 5px;
    width: 80%;
    height: 100px;
    background-color: #fdbe34;
}

.subscribe-box {
    width: 760px;
    height: 100px;
    margin: 0 auto;
}
.subscribe-input {
    padding-top: 23px;
    height: 100%;
    width: 50%;
    float: right;
}
.subscribe-input input{
    border-radius: 5px 0 0 5px;
    font-size: 15px;
    padding-left: 10px;
    width: 240px;
    height: 52px;
}
.subscribe-input button{
    border-radius: 0 5px 5px 0;
    background-color: #fcad02;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #fff;
    width: 115px;
    height: 52px;
}
.subscribe-letter {
    height: 100%;
    padding: 30px;
    display: inline-block;
}

footer {
    height: 440px;
    width:100%;
    background-color: #252525;
}

.aboutUs-container {
    float: left;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
}
.aboutUs-container a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
.form-box {
    float: right;
    width: 25%;
    max-width: 300px;
    height: 100%;
    background-color: #333333;
}

.info-card-1 {
    width: 300px;
    padding: 60px 10px 0 10px;
}
.info-card-1 a{
    font-size: 16px;
    line-height: 1.8;
    color: #fcad02;
}
.info-card-1 h2{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}
.info-card-1 p{
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #929292;
}
.info-card-2 {
    padding: 60px 10px 0 10px;
}
.info-card-2 h2{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}
.info-card-2 p{
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #929292;
    margin-bottom: 10px;
}
.info-card-3 {
    padding: 60px 10px 0 10px;
}
.info-card-3 h2{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}
.info-card-3 p{
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #929292;
    margin-bottom: 10px;
}
.info-card-4 {
    padding: 60px 10px 0 10px;
}
.info-card-4 h2{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}
.info-card-4 p{
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #929292;
    margin-bottom: 10px;
}

.form-box {
    text-align: center;
    padding: 60px 10px 0 10px;
}
.form-box h2 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
}

.form-box input {
    width: 230px;
    height: 45px;
    padding-left: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: gray;
}

#message-input {
    height: 80px;
}

.form-box button {
    width: 230px;
    height: 45px;
    border-radius: 5px;
    background-color: #fdbe34;
}

@media (max-width: 1350px) {
    .menu {
        margin-left: 80px;
    }
    .search {
        margin-left: 80px;
    }
}
@media (max-width: 1100px) {
    .advantages-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .description-container {
        position: relative;
        margin: 0 auto;
        width: 100%;
        padding: 20px 20px 20px 20px;
    }
    .description-picture {
        position: absolute;
        z-index: -1;
        filter: blur(10px);
        top: 0;
        left: 0;
        width: 100%;
    }
    .description {
        padding: 20px 10px 10px 10px;
        width: 100%;
    }
    .description p {
        position: relative;
        color: #fff;
    }
    .description h4 {
        position: relative;

    }
    .clients-container {
        height: 1200px;
    }
    .client-card {
        margin: 20px;
    }
}

@media (max-width: 1050px) {
    .menu {
        margin-left: 5%;
    }
    .search {
        display: none;
    }
    .benefits-container {
        width: 100%;
        flex-wrap: wrap;
        height: 400px;
    }
}

@media (max-width: 960px) {
    .subscribe-box {
        width: 70%;
    }
    .subscribe-input {
        width: 400px;
        margin: 0 auto;
    }
    .subscribe-input input {
        display: inline-block;
    }
    .subscribe-input button {
        display: inline-block;

    }
    .yellow-banner {
        font-size: 15px;
    }
    .banner-text {
        font-size: 35px;
    }
    .banner-box {
        padding-top: 10%;
        width: 100%;
    }
    .banner {
        height: auto;
    }
    .menu .items{
        font-size: 13px;
        width: 70px;
    }
    .benefits-container {
        width: 100%;
        flex-wrap: wrap;
        height: 730px;
    }
    .advantages-container {
        flex-wrap: wrap;
        height: 900px;
        width: 100%;
        justify-content: center;
    }
    .description-container {
        position: relative;
        margin: 0 auto;
        width: 100%;
    }
    .description-picture {
        position: absolute;
        z-index: -1;
        filter: blur(10px);
        top: 0;
        left: 0;
        width: 100%;
    }
    .description {
        padding: 20px 10px 10px 10px;
        width: 100%;
    }
    .description p {
        position: relative;
    }
    .description h4 {
        position: relative;

    }
    .right-achievment-1 .achievment-name{
        font-size: 16px;
    }
    .right-achievment-2 .achievment-name{
        font-size: 15px;
    }
    .right-achievment-2 {
        height: fit-content;
    }
    .left-achievment-2 {
        height: fit-content;
    }
    .picture-cards-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .top-left {
        font-size: 13px;
    }
    .top-center {
        font-size: 13px;
        
    }
    .top-right {
        font-size: 13px;
     
    }
    .bottom-left {
        font-size: 13px;
       
    }
    .bottom-center {
        font-size: 13px;
     
    }
    .bottom-right {
        font-size: 13px;

    }
    .clients-container {
        height: 1100px;
    }
    .clients-display {
        padding-top: 20px;
        height: 900px;
    }
    .clients-header {
        margin-bottom: 0;
    }
    .clients-cards {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height: 900px;
    }
    .blog-container {
        height: 1200px;
        padding: 50px 0 20px 0;
    }
    .blog-cards {
        height: 900px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .subscribe-box {
        display: flex;
        flex-direction: column;
    }
    .subscribebar {
        height: 180px;
        padding: 10px 15px 10px 15px;
    }
    .subscribe-input {
        float: none;
    }
    .info-card-2 {
        display: none;
    }
    .info-card-3 {
        display: none;
    }
    .info-card-4 {
        display: none;
    }
    .aboutUs-container {
        width: 50%;
    }
    .form-box {
        width: 50%;
    }
    .play-button {
        display: none;
    }
    .benefits-container {
        height: 800px;
    }
    
}

@media (max-width: 560px) {
    footer {
        height: 780px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .subscribebar {
        width: 100%;
    }
    .subscribe-box {
        margin-top: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .subscribe-input {
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    .subscribe-input input {
        display: inline-block;
        width: 55%;
    }
    .subscribe-input button {
        display: inline-block;
        width: 26%;
    }
    .subscribe-letter {
        text-align: center;
        width: 100%;
        font-size: 14px;
        padding: 10px 0px 0px 20px;
        margin: 0 auto;
    }
    .aboutUs-container {
        width: 100%;
        display: block;
        height: 340px;
    }
    .form-box {
        padding: 15px 30px 0 30px;
        max-width: 100%;
        width: 100%;
        height: 440px;
    }
    .blog-card {
        width: 320px;
        height: 380px;
    }
    .blog-image {
        width: 300px;
        height: 220px;
    }
    .blog-image img {
        width: 300px;
        height: 220px;
        border-radius: 5px;
    }
    .client-card {
        width: 310px;
        height: 250px;
    }
    .avatar-1 {
        width: 50px;
        height: 50px;
    }
    .avatar-2 {
        width: 50px;
        height: 50px;
    }
    .avatar-3 {
        width: 50px;
        height: 50px;
    }
    #deleted {
        display: none;
    }
    .advantage-card-first {
        width: 320px;
    }
    .advantage-card-second {
        width: 320px;
    }
    .advantage-card-third {
        width: 320px;
    }
    .advantage-icon-box {
        padding: 90px 0px 90px 10px;
    }
    .advantage-text-box {
        padding-left: 10px;
    }
    .description-text-1 {
        font-size: 14px;
    }
    .description-text-2 {
        font-size: 14px;
    }
    .description-text-3 {
        font-size: 14px;
    }
    .achievments-container {
        height: 270px;
    }
    .left-achievment-1{
        height: 135px;
    }
    .left-achievment-2 {
        height: 135px;
    }
    .right-achievment-1 {
        height: 135px;
    }
    .right-achievment-2 {
        height: 135px;
    }
}
@media (max-width: 479px) {
    .benefits-container {
        height: 1600px;
    }
    .description h2 {
        position: relative;
        margin-bottom: 10px;
    }
    .description p {
        margin: 15px 0px 15px 0px;
    }
    .social-networks-container {
        width: 90px;
    }
    .network {
        margin-left: 5px;
    }
}

@media (max-width: 426px) {
    .logo-container {
        justify-content: center;
    }
    .description-text-1, .description-text-2, .description-text-3 {
        font-size: 12px;
    }
    .subscribe-input input {
        width: 70%;
    }
    .subscribe-input button {
        width: 30%;
    }
}


